@import "tailwindcss";

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");

/* Typo fine-tuning (optionnel) */
:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  scroll-behavior: smooth;
}
